.container {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}
.container > h1 {
  color: darkblue;
}

.popup {
  position: relative;
  width: 100%;
  height: 100vh;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup-text {
  visibility: hidden;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  display: inline-block;
  width: 50%;
  height: 50vh;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.popup-text .title {
  display: block;
}
.popup-text .text {
  display: block;
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
